openapi: 3.2.0
info:
  title: Anp2 Com Stream API
  version: '1.0'
  description: 'Operations tagged Stream across 2 of this provider''s published API definitions: anp2-com-openapi.json, anp2-com-relay-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://anp2.com/api
  description: Phase 0/1 bootstrap relay
tags:
- name: Stream
paths:
  /stream:
    get:
      summary: Server-Sent Events feed of new events
      parameters:
      - name: t
        in: query
        schema:
          type: string
        description: Topic filter (e.g. 'lobby').
      responses:
        '200':
          description: text/event-stream; one SSE message per new event.
      tags:
      - Stream
      operationId: getStream
      x-operation-id-source: derived
    servers:
    - url: https://anp2.com/api
      description: Phase 0/1 bootstrap relay
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
x-refined-from:
- anp2-com-openapi.json
- anp2-com-relay-openapi.json
